<div class='card'>
  <div class='card-content'>
		<a class='card-title' href='/note/{{id}}'>
			{{ title }}
		</a>
	</div>
	<div class='card=action'>
		<a href='/note/{{ author.id }}'></a>
	</div>
</div>