{{!-- {{#if notes}} --}}
<h1>Hello</h1>
{{#if notes}}
<ul>
    {{#each notes}}
    <div>{{ title }}</div>
    <div>{{ author }}</div>
    <div></div>
    {{/each}}
    </ul>
    {{/if}}
{{!-- {{/if}} --}}