<h1>Notes</h1>

{{#if notes}}
Here are some of the most recent notes:

<ul>
    {{#each notes as  |note|}}
        <li><a href="/notes/{{note._id}}">{{note.title}}</a> by {{note.author}}</li>
    {{/each}}
</ul>
{{else}}
No notes have been published!

{{/if}}