<ul>
 {{#each quests}}
   <div class="quest">
     <div>
       <a href="/quest/{{this.id}}"> {{title}}</a>
     </div>

      <div>
        <li class="inline">
          Quest Giver: {{quest_giver}}
         </li>
      </div>
     
       <div>
        Rewards For Completion:
        {{#each rewards}}
          {{> reward this}}
        {{/each}}
       </div>
      
       <div>
        Locations of Quest:
          {{#each locations}}
            {{> location this}}
          {{/each}}
        </div>

   </div>
 {{/each}}

</ul>
