<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Notes</title>
  </head>
  <body>
    <header class="site-header">
      <nav>
        <h1>Notes</h1>
      </nav>
    </header>
    <main class="container">
      {{{ body }}}
    </main>
  </body>
</html>
