<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notes</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      body {
        text-align: center;
      }

      li {
        text-decoration: none;
        list-style: none;
      }

      header h1 {
        font-size: 2.5em;
      }

      main {
        border: 1px solid black;
        width: 60%;
        margin: 2% auto;
        padding: 2%;
        border-radius: 10px;
      }
    </style>
  </head>

  <body>
    <header class="jumbotron">
      <h1>Notes</h1>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>

</html>