<html>

<head>
    {{!--
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" /> --}}
</head>
<heading>

    <h3><a href="/">Home</a></h3>

</heading>

<body>
    {{{body}}}
</body>
<footer>
</footer>

</html>