

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Note</title>
    <link rel="stylesheet" href="/css/styles.css">

  </head>
  <body>
    <header>
      <nav>
        <div>
          <a href="/">Notes</a>
        </div>
      </nav>
    </header>
    <main class="container">
      {{{ body }}}
    </main>
  </body>
</html>
