<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Notes App</title>
  </head>
  <body>
    <main class="container">
      {{{ body }}}
    </main>
  </body>
</html>