{{!-- A show view (views/show.hbs) for a Note that, displays the Note's title, body and author. --}}
<div><h3>Note:</h3>
    Title: <div>{{title}}</div>
    Author: <div>{{author}}</div>
    Body: <div>{{body}}</div>
</div>