<h1>
    This is the show page
</h1>

<div>
    <h3>Note:</h3>
    <span>
        <div>author: {{author}}</div>
    </span>
    <span>
        <div>title: {{title}}</div>
    </span>
    <span>
        <div>body: {{body}}</div>
    </span>

</div>