<div class="quest">
    More Info About : <a href=https://skyrim.gamepedia.com/index.php?search={{quest.url_name}}> {{quest.title}} </a>
    <div>
        <li class="block">
            Quest Title: {{quest.title}}
        </li>
        <li class="block">
            Quest Giver: {{quest.quest_giver}}
        </li>

    </div>
    <div>
        Rewards For Completion:
        {{#each quest.rewards}}
            {{> reward this}}
        {{/each}}
    </div>
    <div>
        Locations of Quest:
            {{#each quest.locations}}
                {{> location this}}
            {{/each}}
    </div>
</div>
