{{> 'note'}}
<div class="card">
  <div class="card-content">
    <p>    {{id}} </p>
    <p>    {{title}} </p>
    <p>    {{body}} </p>
    <p>    {{author}} </p>
  </div>
</div>


//title body and author of individual note
