<h1>New page</h1>

<form action="/notes" method="POST">
    <p>
      <label for="author">Author</label>
      <input type="text" name="author">
    </p>
    <p>
      <label for="title">Title</label>
      <input type="text" name="title">
    </p>
    <p>
      <label for="body">Body</label>
      <input type="text" name="body">
    </p>

    <input type="submit" value="Create" name="name">
</form>
