<form action="/tweet" method="post">
    <textarea type="text" name="tweet[content]" placeholder="type your tweet"></textarea>
    <input type="text" name="author" placeholder="who are you">
    <input type="submit">
</form>